body{
    text-align: center;
    background-color: mediumturquoise;
}
#quote-box{
    background-color: gold;
    margin: auto;
    margin-top: 15vh;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    border: solid royalblue 1px;
}
#text{
    margin: auto;
    padding: 30px 60px 0 60px;
}
#author{
    position: relative;
    text-align: right;
    padding-right: 60px;
}
#section{
    padding: 10px;
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template-columns: 90px 1fr 1fr 90px;
}
#section > input{
    position: relative;
    grid-column: 1/2;
    margin: auto;
    width: 60px;
    cursor: pointer;
}
.btnAreaStyle{

}
#new-quote{
    border-radius: 3px;
    width: 80px;
    margin: auto;
    padding: 5px 10px;
    transition: transform 0.3s ease-out;
}
#new-quote:hover{
    opacity: 0.9;
    transform: translateY(1px);
}
#connect{
    grid-column: 4/5;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-out;
}
#connect > a {
    margin-left: 15px;
    transform: translateY(1px);
}